@import url("reset.css");
@import url("font.css");



/*CSS Global -Oui j'ai laissé une image dans le dossier css parce que le chemin ne marchait pas :/ déso pas déso- */
body {
     background-image: url(image1.jpg);
}
textarea{
  resize:none;
  height: 35px;
}
/*CSS Header.php*/
h1#titre{
  text-align: center;
  font-size: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}
nav#menu ul a {
 width: 31%;
 text-decoration: none;
 color: #EA1415;
 text-align: center;
 display:inline-block;
 padding: 15px 0 15px 0;
 border:#EA1415 2px solid;
 margin-left: 20px;
}

/*CSS accueil.inc.php*/
h1#accueil{
  text-align: center;
  padding:25px 0 25px 0;
  font-size: 50px;
}
div#begin{
  text-align: center;

}
div#begin a{
color: white;
}
div.liste h1{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
div.wrap li{
  text-align: center;
  padding-top:25px;
}
/*CSS CV.inc.php*/
div#TitreCV h1{
  text-align: center;
  padding:25px 0 25px 0;
  font-size: 50px;
}
div#TitreCV p{
  text-align: center;
  padding:1px 0 10px 0;
  font-size: 20px;
}


/*CSS Footer.php*/
footer{
  text-align: center;
  font-size: 20px;
  padding-top: 50px;
}
footer a{
  color: #EA1415;
}
