@import url("reset.css");
@import url("font.css");



/*CSS Global -Oui j'ai laissé une image dans le dossier css parce que le chemin ne marchait pas :/ déso pas déso- */
body {
  background-image: url(image1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color:black;
}
/*CSS Header.php*/
h1#titre{
  text-align: center;
  font-size: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}
nav#menu ul a {
  width: 21%;
  text-decoration: none;
  color: #EA1415;
  text-align: center;
  display:inline-block;
  padding: 15px 0 15px 0;
  border:#EA1415 5px solid;
  margin-left: 20px;
}
nav#menu ul a:hover {
  background-color: crimson;
  color: black
}
/*CSS accueil.inc.php*/
h1#accueil{
  text-align: center;
  padding:25px 0 25px 0;
  font-size: 50px;
}
div#begin{
  text-align: center;

}
div#begin a{
  color: white;
}
div.liste h1{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
div.wrap{
  border: 5px solid red;;
  border-radius: 2em;
  margin: 0 auto;
  width: 400px;
  padding: 1em;
}
div.wrap li{
  text-align: center;
  padding-top:25px;
}
div.wrap li a{
  color: red;
  text-decoration:none;
}
/*CSS CV.inc.php*/
div#TitreCodex h1{
  text-align: center;
  padding:25px 0 25px 0;
  font-size: 50px;
}
div#TitreCodex p{
  text-align: center;
  padding:1px 0 10px 0;
  font-size: 20px;
}
div#Lilith h1 {
  text-align: center ;
  font-size: 40px;
  margin: 30px 0 10px 0;
}
div#Lilith a {
  color: red;
}
div#Lilith p{
  text-align: center;
  font-size: 20px;
}
div#Succube h1{
  text-align:center;
  font-size: 40px;
  margin: 30px 0 10px 0;
}
div#Succube a {
  color: red;
}
div#Succube p{
  text-align: center;;
  font-size: 20px;
}
div#Incube h1 {
  text-align: center;
  font-size: 40px;
  margin: 30px 0 10px 0;
}
div#Incube a {
  color: red;
}
div#Incube p{
  text-align: center;
  font-size: 20px;
}
div#download a{
  background-color: black;
  border: red 5px solid;
  color: red;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Impact;
  width: 25%;
  margin-left: 525px;
  margin-top: 15px;
}
div#anglais a{
  text-align: center;
  font-size: 20px;
  margin-left: 640px;
  color: red;
}
/*CSS frmcontact.php*/
h1#TitreContact{
  text-align: center;
  margin: 20px 0 10px 0;
  font-size: 50px;
}
fieldset{
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 5px solid red;;
  border-radius: 2em;
}
textarea{
  resize:none;
  height: 35px;
  vertical-align: top;
}
p#reponse{
  text-align:center;
  font-size: 50px;
  margin-top: 35px;
}
p#answer{
  text-align: center;
  font-size: 35px;
}

/*CSS Footer.php*/
footer{
  text-align: center;
  font-size: 20px;
  padding-top: 50px;
}
footer a{
  color: #EA1415;
}
/*CSS EasterEgg*/
div#Michel{
  text-align: center;
}
div#Michel h1{
  font-size: 50px;
}
div#Michel p{
  font-size: 25px;
}
/*CSS Mentions.php*/
#titre {
  text-align: center;
  font-size: 35px;
}
#mentionsglobal{
  text-align: center;
  font-size: 20px;
}
#mentionsglobal a{
  text-decoration: none;
  color: red;
}
/*CSS CV*/
#titrecv{
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
  color: crimson;
}
#photocv{
  border-radius: 2em;
  width:200px;
  margin-left: 650px;
}
#mazikeenintro h1{
  font-size: 50px;
  text-align: center;
  color: crimson;
  margin-top: 5px;
  margin-bottom: 5px;
}
#mazikeenintro p{
  font-size: 35px;
  text-align: center;
  color: crimson;
  margin-top: 5px;
  margin-bottom: 5px;
}
#mazikeenbody h1{
  font-size: 50px;
  text-align: center;
  color: crimson;
  margin-top: 5px;
  margin-bottom: 5px;
}
#mazikeenbody h2{
  font-size: 40px;
  text-align: center;
  color: crimson;
  margin-top: 5px;
  margin-bottom: 5px;
}
#mazikeenbody ul li {
  font-size: 30px;
  text-align: center;
  color: crimson;
  margin-top: 5px;
  margin-bottom: 5px;
}
#mazikeenpowers h1{
  font-size: 50px;
  text-align: center;
  color: crimson;
  margin-top: 5px;
  margin-bottom: 5px;
}
#mazikeenpowers ul li{
  font-size: 30px;
  text-align: center;
  color: crimson;
  margin-top: 5px;
  margin-bottom: 5px;
}
